.pic{
    margin-top: 10%;
    margin-left: 40%;
         }
.div1{
    margin-top: 2%;
    margin-left: 35%;
    width: 250px;
    height: 15%;
    border-color: rgb(241, 239, 239);
    background-color:rgb(217, 223, 228);
    border-width: 1px;
    border-style: solid;
    text-align: center;
}
.div1 .tab{
    background-color: limegreen;
    margin-left: 5%;   
}
.tab1{
    margin-top: 2%;
    margin-left: 35%;
    width: 300px;
    height: 10%;
    border-color: rgb(241, 239, 239);
    border-width: 1px;
    border-style: solid;
    margin-left: 35%;
}
.foot{
    margin-top: 2%;
    margin-left: 35%;
}